

// override Angular material css
md-toolbar .md-toolbar-tools h1 {
  font-size: 50px;
  font-weight: 500;
}

// override Angular material css
md-toolbar {
    padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 80px;
}

// override Angular material css
.md-content{
  padding: 50px;
  margin: 20px;
  background-color: #FFF2E0; 
}

