
.content {
   margin-top: 200px; 
}
/*
.app {
    margin-top: 150px
}
*/
md-toolbar {
    padding-top: 20px;
    padding-right: 30px;
    padding-bottom: 30px;
    padding-left: 80px;
}
.paddings {
    padding-top: 10px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 80px;
}

.fix-to-top {
    position: fixed;
    top: 0;
    width: 100%;
}


.fixed-nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  width: 100%;
  height: 50px;
}

