
// create a padding for the content of shoppingcart
.paddings {
    padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 80px;
}

// sets toolbar (header) of shopping cart, overrides Angular material css
.smaller {
    padding-top: 10px;
    padding-right: 30px;
    padding-bottom: 10px;
    padding-left: 80px;
}
